@charset 'utf-8'


a {
  text-decoration: none;
  color: white;--글자색--
}

#header {
    font-size: 1em;
  line-height: 1.5vh;
  background-color: gray;
  display: flex;
  color: red;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}
.header_tel{
list-style: none;
display: flex;
padding: 1rem;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Pen Script', cursive;
font-size: 1rem;
}
.header_tel li{
    padding: 0rem;
    
}
.header_menu{
    font-size: 1rem;
display: flex;
list-style: none;
color: black;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Pen Script', cursive;
}
.header_menu li{
    padding: 0rem;
}
.header_menu a{
    color: salmon;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  /*line-height: 100px;*/
  background-color: cadetblue;
  
  padding: 0rem;
}
.nav_menu{
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.nav_logo{
    padding:0rem;
}
.nav_link{
    display: flex;
}
.nav_toggle{
  display: none;
  position: absolute;
  right:50px;
  font-size: 24px;
  color: saddlebrown;
}
@media screen and (max-width:768px){
  #nav{
    flex-direction: column;
    align-items:flex-start;
  }
  .nav_menu{
    flex-direction: column;
    align-items: center;
    width:100%;
    display: none;
  }
  .nav_menu li{
    width: 100%;
    text-align: center;
  }
  .nav_link{
    justify-content: center;
    width: 100%;
  }
  .nav_toggle{
    display: block;
  }
  .nav_menu.active{
    display: flex;
  }
  .nav_link.active{
    display: flex;
  }
}
.nav_link li{
    list-style: none;
    padding: 10px 12px;
}
.nav_link li i{
    color: darkblue;
}



.
.nav_menu {
  display: none;
  display: flex; 가로정렬
  font-size: 1rem; 메뉴폰트사이즈
  font-family: "Nanum Pen Script", cursive;
  
}
.nav_menu li:hover{
    background-color: chartreuse;
    border-radius: 10px;
}

.nav_menu li {
  list-style: none;
  padding: 10px 5px;--위아래좌우--
  }

.nav_link li {
  list-style: none;
}
/*
#side {
  float: left;
  width: 300px;
  height: 600px;
  line-height: 600px;
  background-color: darkseagreen;
}
*/
#content {
  line-height: 100px;
  background-color: dodgerblue;
}
.player video{
    width:100%;
    height:100%;
}
#footer {
  line-height: 100px;
  background-color: greenyellow;
  
}

