@charset 'utf-8' 
body{
    background-color: white;
}

#warp{
    width: 1000px;
    height: 900px;
    margin: 0; 
    font-size: 40px;
    color: white;
    text-align : center;
    text-transform: uppercase;
}
#header{
    width: 1000px;
    height: 100px;
    line-height : 100px;
    background-color: red;
}


#nav{
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background-color: cadetblue;
}

#content{
    width: 1000px;
    height: 600px;
    line-height: 100px;
    background-color: darkblue;
}
#footer{
    float: left;
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background-color: darkgoldenrod;
}
​