button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  jus
}



.section {
  width: 400px;
  margin: auto;
  background-color: ivory;
  border-radius: 20px;
}

body {
  background-color: #ced3df;
  text-align: center;
}

.section {
  width: 500px;
  height: 800px;
}

.header {
  background: rgb(51, 186, 80);
  background: linear-gradient(
    93deg,
    rgba(51, 186, 80, 1) 0%,
    rgba(70, 168, 37, 1) 0%,
    rgba(86, 126, 89, 1) 46%,
    rgba(125, 125, 186, 1) 100%
  );
  color: aliceblue;
}

.sticker_list {
}

.sticker {
  height: 725px;
  overflow: auto;
}

.sticker_name {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
}

.button {
  transition: all 300ms ease-in;
}

.line_div {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: auto;
}

.footer {
  background: rgb(51, 186, 80);
  background: linear-gradient(
    270deg,
    rgba(51, 186, 80, 1) 0%,
    rgba(70, 168, 37, 1) 0%,
    rgba(86, 126, 89, 1) 46%,
    rgba(125, 125, 186, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.stickerBtn {
}
